<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sistema.Presentacion.Properties.Settings.dbsistemaConnectionString"
            connectionString="Data Source=PRC00006\SQLEXPRESS;Initial Catalog=dbsistema;User ID=se;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>